<div class="well home-well">
<div class="row">
<div class="col-md-6-centered">
<div class="center">  
<h1>New Anon</h1>

<%= render 'form' %>

<%= link_to 'Back', anons_path %>
</div>
     </div>
     </div>
     </div>
