<div class="well home-well">
<div class="row">
<div class="col-md-6-centered">
<div class="center">
<h1>New Event</h1>

<%= render 'form' %>

<%= link_to 'Back', events_path %>
</div>
     </div>
     </div>
     </div>